.sidebar {
  height: 100%;
  width: 15rem;

  background-color: rgb(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  border-left: solid 1px rgb(0, 0, 0);

  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.element-item,
.relation-item,
.reification-item {
  width: 100%;

  background-color: rgba(200, 255, 255, 0.5);
  border: solid 1px rgb(0, 0, 0, 0.5);
  border-radius: 0.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.relation-item-active {
  box-shadow: 0px 0px 10px 2px rgb(0, 179, 255);
}
