.graph-editor {
  contain: content;
  display: flex;
  flex-direction: row;

  border-left: solid 1px rgb(0, 0, 0);

  height: 87.5vh;
}

.graph-container {
  height: 100%;
  flex: 1;
}

.full-node-handle {
  height: 100%;
  width: 100%;
  opacity: 0;
}
