.graph-editor {
  contain: content;
  display: flex;
  flex-direction: row;

  height: 88vh;

  border: rgb(234, 0, 255) 2px dashed;
}

.graph-container {
  height: 100%;
  flex: 1;
}

.full-node-handle {
  height: 100%;
  width: 100%;
  opacity: 0;
}
