.reification-node {
  padding: 2px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 40%;
}

.reification-node-title {
  font-weight: bold;
  text-overflow: ellipsis;
}

.reification-handle {
  height: 15px;
  width: 15px;
}
